/* Scroll to top button */
html {
  scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00ffff;
  cursor: pointer;
  padding: 5px 2px;
  border-radius: 10%;
  transition: 0.3s;
  width: 60px;
  height: 70px;
}
#myBtn:hover {
  transform: scale(1.1);
  background-color: white;
}

:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Hero Section */
#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#icon {
  color: rgba(255, 255, 255, 0.15);
  font-size: 80vmin;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 1;
}
.second-page {
  /* background-color: green; */
  background-image: linear-gradient(180deg, #00ff0000, #00ff00ff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.third-page {
  background-image: linear-gradient(180deg, #00ff00ff, #ff0000ff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.fourth-page {
  background-image: linear-gradient(180deg, #ff0000ff, #0000ffff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.upperHeroPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  opacity: 1;
  filter: drop-shadow(0px 0px 10px blue);
  transition: opacity 1200ms ease;
  pointer-events: none;
}

.lowerHeroPage {
  height: fit-content;
  width: 500px;
  background-color: rgb(15, 15, 15);
  z-index: -1;
  opacity: 0;
  transition: opacity 1200ms ease;
  border-radius: 16px;
  border: 2px solid cyan;
}

.heroPageTitle {
  font-weight: 700;
  font-size: 3rem;
  color: cyan;
  padding-left: 16px;
  padding-top: 8px;
  border-bottom: 2px solid cyan;
  border-radius: 16px 16px 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.heroPageList {
  font-weight: 400;
  font-size: 1.5rem;
  color: cyan;
  text-align: justify;
  padding-right: 32px;
}

.logo {
  width: 37%;
  height: 80%;
  position: absolute;
  left: 60px;
  min-width: 500px;
  top: 50%;
  transform: translateY(-50%);
}

.text {
  position: absolute;
  bottom: 45%;
  left: 50%;
  width: 40%;
  min-width: 360px;
}
.geekHavenLogo {
  position: absolute;
  top: 2%;
  left: auto;
  right: 2%;
  width: 10%;
  /* background-color: red; */
}
.presentsText {
  position: absolute;
  height: 300px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: cyan;
  left: 850px;
  top: 42%;
}

@media (max-width: 500px) {
  .text {
    width: 80%;
    min-width: none;
  }
}
@media screen and (max-width: 640px) {
  .logo {
    min-width: 300px;
    width: 90%;
    left: 50%;
    top: 16px;
    transform: translate(-50%, 0);
  }
  .lowerHeroPage {
    width: 90%;
  }
  .heroPageList {
    padding-left: 30px;
    padding-right: 12px;

    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1300px) {
  .presentsText {
    display: none;
  }
  .geekHavenLogo {
    left: auto;
    right: 2%;
    top: 2%;
    width: 10%;
  }
  .logo {
    left: 50%;
    top: 16px;
    transform: translate(-50%, 0);
  }
  .text {
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* timer section */
#timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#timer .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
#timer .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#timer .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  transform: translate(5px, 5px);
}
#timer .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#timer div {
  position: absolute;
  text-align: center;
  font-size: 40px;

  line-height: 22px;
}
#timer div span {
  /* position: absolute; */
  /* transform: translateX(-45px) translateY(45px); */
  line-height: 0%;
  /* border: 1px solid red; */
  font-size: 0.35em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0em;
}
#message {
  position: relative;
  padding: auto;
  font-size: 40px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* About section */
.about-section {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 1.5;
}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 8px 24px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: #575151;
  color: #fff;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Mentor Section */
.main-tittle {
  text-align: center;
  color: white;
  height: 150px;
  font-size: 50px;
}

#mentors_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.mentor_card {
  background: rgb(234 237 255);
  margin: 7px 7px 45px;
  padding: 15px;
  line-height: 8px;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: center;
}

.mentor_card:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

h2.mentorName {
  color: #000000;
}

.imgDiv {
  height: 195px;
  border-radius: 20px;
  height: 233px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.icon {
  color: #3d3d3d;
}

.icon:hover {
  transform: translateY(-5px);
  color: #9370db;
}

.logoDiv {
  display: flex;
  justify-content: space-around;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* footer section */
footer {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  margin-top: auto;
  height: 100px;
  /* background-color: #e2e4e7; */
  background-color: rgb(15, 15, 15);
  /* color: #fff; */
  color: cyan;
  padding-left: 13%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* filter: drop-shadow(0 0 10 cyan); */
}

.container-logo {
  display: flex;
  align-items: center;
  margin: 0 20px;
  /* background-color: cyan; */
}

.container-logo img {
  height: 70px;
  margin: 0 10px;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links-container a {
  /* color: rgb(0, 0, 0); */
  color: cyan;
  font-size: 29px;
  margin: 0 10px;
}

.container-logo1 {
  display: none;
}

.copyright {
  color: white;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.text1 {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .links-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    padding: 10px;
  }

  .links-container a {
    color: cyan;
    font-size: 25px;
    margin-bottom: 5px;
  }
  #myBtn {
    width: 60px;
    height: 70px;
  }

  .container-logo {
    display: none;
  }

  .container-logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }

  .container-logo1 img {
    height: 47px;
    margin: 5px 10px 0 5px;
  }

  .copyright {
    margin-bottom: 10px;
  }
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
    margin-bottom: 10px;
  }
  .about-section {
    min-height: 90vh;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
}
