/* Scroll to top button */
html {
  scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00ffff;
  cursor: pointer;
  padding: 10px 3px;
  border-radius: 10%;
  transition: 0.3s;
}
#myBtn:hover {
  transform: scale(1.1);
  background-color: white;
}
/* Hero Section */

:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#icon {
  color: rgba(255, 255, 255, 0.15);
  font-size: 80vmin;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 1;
}
.second-page {
  /* background-color: green; */
  background-image: linear-gradient(180deg, #00ff0000, #00ff00ff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.third-page {
  background-image: linear-gradient(180deg, #00ff00ff, #ff0000ff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.fourth-page {
  background-image: linear-gradient(180deg, #ff0000ff, #0000ffff);
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}
.upperHeroPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  opacity: 1;
  filter: drop-shadow(0px 0px 10px blue);
  transition: opacity 1200ms ease;
  pointer-events: none;
}

.lowerHeroPage {
  height: fit-content;
  width: 500px;
  background-color: rgb(15, 15, 15);
  z-index: 1;
  opacity: 0;
  transition: opacity 1200ms ease;
  border-radius: 16px;
  border: 2px solid cyan;
}
.heroPageTitle {
  font-weight: 700;
  font-size: 3rem;
  color: cyan;
  padding-left: 16px;
  padding-top: 8px;
  border-bottom: 2px solid cyan;
  border-radius: 16px 16px 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.heroPageList {
  font-weight: 400;
  font-size: 1.5rem;
  color: cyan;
  text-align: justify;
  padding-right: 32px;
}
.logo {
  width: 37%;
  height: 80%;
  position: absolute;
  left: 60px;
  min-width: 500px;
  top: 50%;
  transform: translateY(-50%);
}
.text {
  position: absolute;
  bottom: 45%;
  left: 50%;
  width: 40%;
  min-width: 360px;
}
.geekHavenLogo {
  position: absolute;
  top: 2%;
  left: auto;
  right: 2%;
  width: 10%;
  /* background-color: red; */
}
.presentsText {
  position: absolute;
  height: 300px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: cyan;
  left: 850px;
  top: 42%;
}

@media (max-width: 500px) {
  .text {
    width: 80%;
    min-width: none;
  }
}
@media screen and (max-width: 640px) {
  .logo {
    min-width: 300px;
    width: 90%;
    left: 50%;
    top: 16px;
    transform: translate(-50%, 0);
  }
  .lowerHeroPage {
    width: 90%;
  }
  .heroPageList {
    padding-left: 30px;
    padding-right: 12px;

    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1300px) {
  .presentsText {
    display: none;
  }
  .geekHavenLogo {
    left: auto;
    right: 2%;
    top: 2%;
    width: 10%;
  }
  .logo {
    left: 50%;
    top: 16px;
    transform: translate(-50%, 0);
  }
  .text {
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
  }
}

/* footer section */

footer {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  margin-top: auto;
  height: 100px;
  /* background-color: #e2e4e7; */
  background-color: rgb(15, 15, 15);
  /* color: #fff; */
  color: cyan;
  padding-left: 13%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* filter: drop-shadow(0 0 10 cyan); */
}

.container-logo {
  display: flex;
  align-items: center;
  margin: 0 20px;
  /* background-color: cyan; */
}

.container-logo img {
  height: 70px;
  margin: 0 10px;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  display: flex;
  align-items: center;
}

.links-container a {
  /* color: rgb(0, 0, 0); */
  color: cyan;
  font-size: 29px;
  margin: 0 10px;
}

.container-logo1 {
  display: none;
}

.copyright {
  color: black;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.text {
  margin-top: 15px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
  }

  .container-logo {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }

  .container-logo img {
    height: 40px;
    margin: 2px;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .links-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .links-container a {
    /* color: rgb(0, 0, 0); */
    color: cyan;
    font-size: 20px;
    margin: 0 5px;
  }

  .container-logo {
    display: none;
  }

  .container-logo1 {
    display: flex;
    align-items: center;
    margin: 4px 0;
  }

  .container-logo1 img {
    height: 47px;
    margin: 5px 10px 0 5px;
  }

  .copyright {
    margin-bottom: 10px;
  }
}
